TabBar #basic {
	icon: icons/fav_16.png;
}

TabBar #scrolls {
	icon: icons/home_16.png;
}

TabBar #selection {
	icon: icons/file_blank_16.png;
}

TabBar #theme {
	icon: icons/application_16.png;
}

TabBar #list {
	icon: icons/settings_16.png;
}
		