<?xml version="1.0" encoding="utf-8" ?>
<ui:menu>
	<ui:menuitem text="Item 1" id="testMenuItem1" />
	<ui:menuitem text="Item 2" />
	<ui:menuitem text="Item 3" />
	<ui:menu text="Expandable 1">
		<ui:menuitem text="Sub 1" />
		<ui:menuitem text="Sub 2" />
		<ui:menuitem text="Sub 3" />
		<ui:menu text="Expandable 2">
			<ui:menuitem text="Sub Sub 1" />
			<ui:menuitem text="Sub Sub 2" />
			<ui:menuitem text="Sub Sub 3" />
			<ui:menu text="Expandable 3">
				<ui:menuitem text="Sub Sub Sub 1" />
				<ui:menuitem text="Sub Sub Sub 2" />
				<ui:menuitem text="Sub Sub Sub 3" />
				<ui:menu text="Expandable 4">
					<ui:menuitem text="Sub Sub Sub Sub 1" />
					<ui:menuitem text="Sub Sub Sub Sub 2" />
					<ui:menuitem text="Sub Sub Sub Sub 3" />
				</ui:menu>
				<ui:menuitem text="Sub Sub Sub 4" />
				<ui:menuitem text="Sub Sub Sub 5" />
				<ui:menuitem text="Su bSub Sub 6" />
			</ui:menu>
			<ui:menuitem text="Sub Sub 4" />
			<ui:menuitem text="Sub Sub 5" />
			<ui:menuitem text="Sub Sub 6" />
		</ui:menu>
		<ui:menuitem text="Sub 4" />
		<ui:menuitem text="Sub 5" />
		<ui:menuitem text="Sub 6" />
	</ui:menu>
	<ui:menuitem text="Item 4" />
	<ui:menuitem text="Item 5" />
	<ui:menuitem text="Item 6" />
	<ui:menu text="Expandable 2">
		<ui:menuitem text="Sub Sub 1" />
		<ui:menuitem text="Sub Sub 2" />
		<ui:menuitem text="Sub Sub 3" />
		<ui:menu text="Expandable 3">
			<ui:menuitem text="Sub Sub Sub 1" />
			<ui:menuitem text="Sub Sub Sub 2" />
			<ui:menuitem text="Sub Sub Sub 3" />
			<ui:menu text="Expandable 4">
				<ui:menuitem text="Sub Sub Sub Sub 1" />
				<ui:menuitem text="Sub Sub Sub Sub 2" />
				<ui:menuitem text="Sub Sub Sub Sub 3" />
			</ui:menu>
			<ui:menuitem text="Sub Sub Sub 4" />
			<ui:menuitem text="Sub Sub Sub 5" />
			<ui:menuitem text="Su bSub Sub 6" />
		</ui:menu>
		<ui:menuitem text="Sub Sub 4" />
		<ui:menuitem text="Sub Sub 5" />
		<ui:menuitem text="Sub Sub 6" />
	</ui:menu>
</ui:menu>
