body, html { height:100%; padding:0px !important; overflow:hidden; }
.navbar { position:static !important; margin:0px !important;}
#container { height:95%; }
#nav { overflow-y:scroll; height:100%; float:left; width:250px; }
#content { overflow-y:scroll; height:100%; padding:0px 12px; }
/*#content .header { position:absolute; background:rgba(255,255,255,0.9); left:250px; right:15px; padding:0px 12px; border-bottom:1px solid #EEE;}*/
/*#content .body { padding-top:80px;}*/

.doc { margin-top:16px; }
.toggle-hide { display:block; }
.toggle-show { display:none; }
.toggle-on .toggle-hide { display:none !important; }
.toggle-on .toggle-show { display:block !important; }
.related-types .toggle-hide { padding-top:4px; }
.availability { margin-left:14px; color:#93a1a1; }
.doc { margin-left:14px; }
.viewsource { float:right; background:#f0f0f0; padding:4px 10px; border-radius: 4px; margin-top: 15px; }

#nav li { list-style-type: none; }
#nav .expando > ul { display:none; }
#nav .expando.expanded > ul { display:block; }
#nav ul, #nav li li { margin-left:14px; }
#nav img { padding-right:4px; }
#nav .pack { display:none; }

#nav.searching .expando > ul { display:block; }
#nav.searching .expando > div { display:none; }
#nav.searching ul { margin-left:0px; }
#nav.searching .pack { display:inline; }

h1 code { padding:4px; font-size:15px; }
h3 code { padding:4px; font-size:13px; }

code { background:#FDF6E3; color:#002b36; tab-size:4; } /* light */
code a { text-decoration:none; }
code a:hover { text-decoration:underline; }

/*code.dark { background:#272822; color:#F8F8F2; border:none; } */
code .identifier { color:#002b36; }
code .type { color:#268bd2; }
code .keyword { color:#dc322f; }
code .directive { color:#2aa198; }
code .constant { color:#AE81FF; }
code .comment { color:#75715E; }
code .string { color:#E6DB74; }
code .macro { color:#A6E22A; }
code .inactive { color:#75715E; }

.navbar-fixed-top { position: fixed; }
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner { padding: 0; }
